# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

In [2]:
a = 'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 000'
print(a)

ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 000

In [4]:
name = 'ธนพงศ์'
surname = 'อินทระ'
ID = '009'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 009

## function template
```python
def function_name(Input):
    do_something
    return Output
```

### normal function

In [5]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [6]:
print(print_line1('กาญจนา','ประสาคุณ','603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### function without output

In [7]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [9]:
print_2lines('กาญจนา','ประสาคุณ','603021855-2','A')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา stat1 >>> A

In [10]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
     print(st2)

IndentationError: unexpected indent (<ipython-input-10-25797d7f94e5>, line 5)

In [12]:
def print_2lines_er(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [14]:
print_2lines_er('กาญจนา','ประสาคุณ','603021855-2','A')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

### function without input

In [15]:
def two_x_three():
    x = 2*3
    return x

In [16]:
two_x_three()

6

### function with default argument

In [17]:
def print_2lines_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [18]:
print_2lines_default('กาญจนา','ประสาคุณ','603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา stat1 >>> F

In [19]:
print_2lines_default('กาญจนา','ประสาคุณ','603021855-2','A+')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา stat1 >>> A+

In [21]:
print_2lines_default(surname1 = 'กาญจนา',name1 = 'ประสาคุณ', ID1 = '603021855-2')

ชื่อ ประสาคุณ นามสกุล กาญจนา รหัส 603021855-2
เกรดวิชา stat1 >>> F

# Loop (วนซ้ำ)

```Python
for each_member in listA:
    do something
```

In [22]:
for i in [1,2,3]:
    print(i)

1
2
3

In [25]:
for i in 'Thanapong':
    print(f'{i} -> /')
    print(' ')

T -> /

h -> /

a -> /

n -> /

a -> /

p -> /

o -> /

n -> /

g -> /

## 1 สร้าง list ชื่อเพื่อน ที่อยู่ใน แถวยาวเดียวกัน
## 1.5 สร้าง function print ประโยคว่า XXXเรา YYYความรู้สึก ZZZเพื่อน ทุกคนในแถวยาว
## 2 วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [26]:
friend_list = ['aaa','bbb','ccc','ddd','eee']

### function in loop

In [27]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [28]:
print_feeling('มุทิตา','รัก','จันทราภรณ์')

มุทิตา รัก จันทราภรณ์

In [29]:
for f in friend_list:
    print_feeling('มุทิตา','รัก',f)

มุทิตา รัก aaa
มุทิตา รัก bbb
มุทิตา รัก ccc
มุทิตา รัก ddd
มุทิตา รัก eee

### loop in loop

In [38]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'รัก',name2)

aaa รัก aaa
aaa รัก bbb
aaa รัก ccc
aaa รัก ddd
aaa รัก eee
bbb รัก aaa
bbb รัก bbb
bbb รัก ccc
bbb รัก ddd
bbb รัก eee
ccc รัก aaa
ccc รัก bbb
ccc รัก ccc
ccc รัก ddd
ccc รัก eee
ddd รัก aaa
ddd รัก bbb
ddd รัก ccc
ddd รัก ddd
ddd รัก eee
eee รัก aaa
eee รัก bbb
eee รัก ccc
eee รัก ddd
eee รัก eee

### loop in function

In [30]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [31]:
print_feelings('มุทิตา','รัก', friend_list)

มุทิตา รัก aaa
มุทิตา รัก bbb
มุทิตา รัก ccc
มุทิตา รัก ddd
มุทิตา รัก eee

## looping in dict

In [32]:
name_grade = {'พันทิพา':'B','ศุภนิตา':'C','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [33]:
name_grade['ปนัดดา']

'A'

In [36]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [37]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# conditional
# == , != , >= , <= , < , >

```Python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do ...
```

In [39]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
            print_feeling(name1,'รัก',name2)

aaa รัก bbb
aaa รัก ccc
aaa รัก ddd
aaa รัก eee
bbb รัก aaa
bbb รัก ccc
bbb รัก ddd
bbb รัก eee
ccc รัก aaa
ccc รัก bbb
ccc รัก ddd
ccc รัก eee
ddd รัก aaa
ddd รัก bbb
ddd รัก ccc
ddd รัก eee
eee รัก aaa
eee รัก bbb
eee รัก ccc
eee รัก ddd

In [40]:
if True:
    print('Yes')

Yes

In [41]:
if False:
    print('No')

In [42]:
if False:
    print('Yes')
else:
    print('No')

No

In [43]:
1 == 1

True

In [44]:
if 1 == 1:
    print('1=1')

1=1

# HW 
เขียน function ตัดเกรด โดยที่ input เป็น คะแนน(0-100) output เป็นเกรด(F-A)

input = [1, 50, 65, 90, 101, -5, 49]